@font-face {
  font-family: myfont;
  src: url("font/Sacramento.ttf")
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body{
  font-family: "Roboto", sans-serif;
}
p {
  margin: 0px;
  font-family:'Times New Roman', Times, serif;
}
a {
  text-decoration: none;
  color: black;
  margin: 2rem;
}
button {
  transition: background-color .2s ease-in;
  background-color: var(--btn-clr);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: Arial;
}
ul li{
  list-style: none;
  display: inline-block;
}

:root{
  --btn-clr: rgb(108, 214, 137);
  --article-clr: rgb(238, 242, 228);
  --sub-article-clr: rgb(249, 255, 216);
  --secnond-text-clr: rgb(17, 134, 49);
  --heading-text-clr: rgb(0, 89, 36);
  --aside-clr: rgb(248, 160, 140);
  --hover-clr: rgba(108, 214, 136, 0.7);
  --roman-font : 'Times New Roman', Times, serif;
}




/* Header Section */

.flex-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
}

.navlogo p{
  margin: 2rem;
  font-size: 3.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: color .26s ease;
  font-family: myfont;
}

nav {
  height: 8.4rem;
  max-width: 1425px;
  display: flex;
  flex:1;
  align-items:center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 35px;

}

.nav-links ul li, 
.nav-signin ul li{
  font-size: 1.6rem;
  font-weight: 400;
  transition: color .16s ease;
}
ul li:hover,
.navlogo p:hover{
  color: var(--btn-clr)
}
ul li:active,
.navlogo p:active{
  color: rgb(91, 196, 119);
}

/* Hero Section */


.hero-container{
  max-width: 1500px;
  padding: 3rem 14rem 5.5rem 14rem;
  justify-content: space-between;
}

#hero-image-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.hero-image {
  height: 58rem;
  width: 58rem;
  border-radius: 50%;
  border: 3rem solid #eedec5;
  box-shadow: inset 0px 0px 3px 5px black;
  margin-bottom: 4rem;
}
.hero-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
#hero-description{
  flex-basis: 450px;
  padding-bottom: 10rem;
}
#hero-description h1{
  font-size: 6rem;
  font-family: myfont;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  
}
#hero-description p{
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 0.3px;
  margin-bottom: 4rem;
  max-width: 40rem;
}
.description-text{
  font-size: 1.7rem;
}
button {
  padding: 1.4rem 1.6rem;
  font-size: 1.5rem;
}
button:hover{
  background-color:rgba(108, 214, 136, 0.7);
}
.hero-image-description{
  flex-direction: column;
}
.hero-image-description .description-line1{
  font-size: 1.5rem;
  letter-spacing: .3px;
}
.hero-image-description .description-line2{
  margin-top: -14px;
  
}
.description-line{
  color: var(--secnond-text-clr);
  text-align: center;
  font-family: myfont;
  font-size: 1.8rem;
  cursor: pointer;
  position: relative;
  width: fit-content;
}
.description-line::after{
  content:'';
  position: absolute;
  left:0;
  bottom: -3px;
  height: 1.5px;
  width: 0%;
  background-color: rgb(17, 124, 45);
  transition: width .4s ease;
}
.description-line:hover::after{
  width: 100%;
}
/* Hero More Info Section */
#hero-moreinfo{
  background-color: var(--article-clr);
  padding: 6.4rem 0rem 6.6rem 0rem;
  margin-bottom: 38px;
}
.moreinfo-container{
  max-width: 1425px;
  display: flex;
  flex-direction: column;
  background-color: var(--article-clr);
  padding: 0 35px;
  flex: 1;
}

.moreinfo-cards{
  display: flex;
  justify-content: space-between;
  padding-left: 6rem;
  gap: 2.5rem;
}
.more-info-heading{
  margin-bottom: 3.5rem;
}
.more-info-heading h2{
  font-size: 3.8rem;
  font-weight: 400;
}
.more-info-heading h3{
  font-size: 3.4rem;
  font-family: myfont;
  font-weight: 400;
}
.infocard{
  max-width: 310px;
  background-color: white;
  border-radius: 12px;
  padding: 25px 25px 5.5rem 25px;
  /* box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.171); */
  box-shadow: 0px 0px 0px .2px rgba(0, 0, 0, 0.171);
}
.infocard h3{
  font-size: 3.7rem;
  font-family: myfont;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.978);
  margin-bottom: 2px;
}
.infocard h4{
  font-size: 3.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.946);
  margin-bottom: 3.4rem;
}

.infocard-image{
  background: transparent;
  padding-bottom: 24px;
  margin-right: 5rem;
  align-self: flex-end;
  flex-direction: column;
  box-shadow: none;
}
.infocard-image img{
  width: 130px;
  margin-bottom: 35px;
}
.infocard-image p{
  font-family:'Times New Roman', Times, serif;
}

/* Quotes and Ratings Section */
#quotesAndRatings{
  padding: 0 35px;
  width: 100%;
}
.quotes-container{
  background-color: var(--sub-article-clr);
  height: fit-content;
  max-width: 1355px;
  flex: 1;
  padding: 8.1% 6rem;
  gap: 5%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.04) 2px 4px 24px 0px
}

.ratingsImg{
  flex: 1.25;
}
.ratingsImg img{
 width: 100%;
}
.ratingsDescription{
  flex: 1;
}
.ratingsDescription h2{
  font-size: 5rem;
  font-weight: 300;
}
.ratingsDescription h3{
  font-size: 4.8rem;
  font-family: myfont;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.938);
  margin-bottom: 2.5rem;
}
.ratingsDescription p{
  margin-bottom: 3.7rem;
}

/* reviews Section */

#customer-reviews{
  padding: 35px;
  margin-bottom: 5rem;
  width: 100%;
}
.reviews-container{
  max-width:1355px;
  flex: 1;
  padding: 2rem 4.5rem
}

.reviews-heading{
  max-width: 42rem;
}
.section-heading-roboto{
  font-size: 3.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

.types-subheading{
  font-size: 3.3rem;
  font-weight: 300;
  font-family: myfont;
  margin-bottom: 1.8rem;
  color: rgba(0, 0, 0, 0.945)
}


/* first review */

.first-review{
  gap: 25px;
  align-items: flex-end;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.04) 2px 4px 24px 0px;
}
.review-text{
  background-color: var(--aside-clr);
  padding: 20px 25px;
  border-radius: 12px;
  max-width: 42rem;
}
.review-text .review-content{
  font-family: myfont;
  font-style: italic;
  font-size: 3.5rem;
  margin-bottom: 8rem;
  letter-spacing: .7px;
  color: rgba(0, 0, 0, 0.856);
}
.review-text .advisorName{
  font-size: 1.4rem;
  font-family: var(--roman-font);
  margin-bottom: 1rem;
}
.review-img{
  width: 100%;
  max-width: 43rem;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
}
.review-img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

/*Second review */
.second-review{
  gap: 25px;
  align-items: flex-start;
  margin-bottom: 11rem;
}
.reviewText-container{
  background-color:var(--sub-article-clr);
  box-shadow: rgba(0, 0, 0, 0.04) 2px 4px 24px 0px;
  padding: 27px;
  border-radius: 12px;

}
.secondReview-image {
  max-width: 35rem;
  max-height: 35rem;
  border-radius: 6px;
  margin-right: 20px;
  overflow: hidden;
}
.secondReview-image img{
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.reviewText-container .review-text{
  padding: 0px 5px 0px 0px;
  max-width: 27rem;
  background-color: transparent;
}
.reviewText-container .review-content{
  padding-left: 10px;
  margin-bottom: 2.3rem;
  letter-spacing: .5px;
}
.reviewText-container .advisorName{
  margin-bottom: 0px;
}

.approval-rating{
  flex:.67;
  padding: 3rem;
  background-color: var(--heading-text-clr);
  box-shadow: rgba(0, 0, 0, 0.04) 2px 4px 24px 0px;
  color: white;
  border-radius: 12px;
}
.approval-rating p{
  font-family: "Noi Grotesk", sans-serif;
  font-size: 1.5rem;
  font-family: arial;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.approval-rating span{
  font-family: "Noi Grotesk", sans-serif;
  font-size: 10rem;
  font-weight: 300;
}
.approval-rating hr{
  margin: 2rem 0rem 3.5rem 0rem;
}

.learnmore-text{
  flex-direction: column;
}
.learnmore-text p:first-child{
  font-size: 1.6rem;
  font-family: "Noi Grotesk", sans-serif;
  margin-bottom: 7px;
}

/* insurance types section */

#insurance-types{
  margin-bottom: 100rem;
  width: 100%;
  background-color: var(--article-clr)
}
.insurance-types-container{
  max-width: 1355px;
  flex: 1;
  padding: 6.5rem 6rem 5rem 4.5rem;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.types-heading-container{
  max-width: 49rem;
}
.types-heading{
  margin-bottom: 10rem;
}
.types-image{
  width: 42.1rem;
  height: 37.1rem;
  margin-left: 17rem;
  overflow: hidden;
}
.types-image img{
  width: 100%;
  height: 100%;
  object-fit: 100% 100%;
}

.types-description{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}
.type-description-box{
  background-color: white;
  padding: 25px;
  width: 100%;
  max-width: 55rem;
  border-radius: 12px;
}
.type-box-heading{
  font-size: 2.5rem;
  color: var(--heading-text-clr);
  margin-bottom: 1.2rem;
  font-family: var(--roman-font);
  font-style: italic;
}
.types-description button{
  width: 100%;
  max-width: 55rem;
}